#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 25px;
}

.grid {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-color: aqua;
  width: 800px;
  height: 800px;
  gap: 5px;
}

.boats {
  grid-column: 2;

  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */

  width: 250px;
  height: 250px;

  border: 2px solid whitesmoke;
}

.boats p {
  margin: 6px 0;
  text-align: center;
}

.cell {
  background-color: rgb(110, 110, 110);
  border: 2px solid black;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-clicked {
  background-color: rgb(0, 0, 110);
}

.cell-shooted{
  background-color: rgb(80, 0, 0);

}

.cell-broke {
  background-color: rgb(26, 25, 25);
}